:root {
  --background: #FF8000;
  --foreground: #171717; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FF8000; 
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  padding: 0;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: fff;
  margin: 0;
}

button {
  background-color: #FF8000; 
  border: none;
  color: #fff; 
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #e67300; 
}

@media (prefers-color-scheme: dark) {
  button {
    background-color: #FF8000;
    color: #000;
  }
}

/* Neon Effect for the Start Quiz button */
.neon-button {
  background-color: tan;
  color: #046A38;
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 1rem 0;
  text-transform: uppercase;
  font-weight: 600;
  text-shadow: 0 0 5px #0fa, 0 0 10px #0fa, 0 0 15px #0fa, 0 0 20px #0fa;
  animation: flicker 1.5s infinite alternate;
}

@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow: 0 0 4px #fff,
                 0 0 11px #fff,
                 0 0 19px #fff,
                 0 0 40px #0fa,
                 0 0 80px #0fa,
                 0 0 90px #0fa,
                 0 0 100px #0fa,
                 0 0 150px #0fa;
  }
  20%, 24%, 55% {
    text-shadow: none;
  }
}

body {
  font-size: 18px;
  font-family: "Helvetica Neue", sans-serif;
  background-color: #010a01;
}

h1, h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}
